html,
body {
    height: 100%;
}

body {
    background-image: url(https://images.unsplash.com/photo-1508615070457-7baeba4003ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    margin-left: 7em;
    margin-right: 7em;
}

h1 {
    text-align: center;
    font-size: 100px;
    margin-top: 40px;
}

h2 {
    font-size: 40px;
    padding-left: 0.5em;
}

.flexbox-container {
    display: flex;
    height: 15em;
    width: 34em;
    flex-direction: row;
    justify-content: space-around;
    border: 3px solid black;
    border-radius: 1.5%;
    font-size: 30px;
    margin-bottom: 0.03em;
}

.steakPicture {
    height: 15em;
    width: 1em;
    border-radius: 1%;
    flex-basis: 44%;
}

.ingredients {
    height: 17em;
}

.directionsWhole {
    border: 3px solid black;
    border-radius: 1.5%;
    padding-right: 1em;
    width: 50em;
    font-size: 20px;
}
.subDirections {
    font-style: italic;
    padding-bottom: 0.3em;
}