h1 {
    text-align: center;

}

p {
    
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

img {
    height: 10em;
    width: 12em;
    border: 1px black solid;
    border-radius: 5%;
}