html, body {
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 100px
}

p {
    text-align: center;
}

.flex-container {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 5em;
}

.flex-item img {
    height: 10em;
    width: 12em;
    border: 1px black solid;
    border-radius: 5%;
}

.steak {

}