html, body {
    height: 100%;
}

body {
    background-image: url(https://images.unsplash.com/photo-1523878288860-7ad281611901?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80);
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bg1 {
    border-radius: 5%;
    width: 40em;
}

.introP {
    margin: 2em 2em;
    font-size: 50px;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 100px;
    margin-top: 40px;
}

.flex-container {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 5em;
}

.flex-item img {
    height: 22em;
    width: 25em;
    border: 1px black solid;
    border-radius: 5%;   
}