body {
    background: url("../images/odin-recipes-background.jpg") fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    margin-left: 7em;
    margin-right: 7em;
    background-position: center center;
}

#navContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    max-width: 65em;
    margin: auto;
    gap: 7em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    background: #272727;
}

#navContainer a {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
}

.homeImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.homeImage {
    border-radius: 5%;
    width: 40em;
    margin-bottom: -2em;
}

.introParagraph {
    margin: 2em 2em;
    font-size: 50px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: 1.5em;
}

h1 {
    text-align: center;
    font-size: 100px;
    margin-top: 40px;
}

.homepage-flex-container {
    display: flex;
    height: 100%;
    position: relative;
    z-index: 1;
    justify-content: space-around;
    align-items: flex-end;
}

.flex-item img {
    border: 1px black solid;
    border-radius: 5%;
    position: relative;
    z-index: 5;
    justify-content: space-around;
}

.flex-item.steak:hover .toolTipSteak {
    background-color: rgb(0, 0, 0);
    opacity: 65%;
    z-index: 5;
    height: 4.76em;
    width: 9.2em;
    padding-top: 130px;
    border-radius: 5%;
    top: 0;
    display: block;
    position: absolute;
    cursor: pointer;
    pointer-events: none;
}

.toolTipSteak {
    display: none;
    color: white;
    text-align: center;
    font-size: 40.2px;
    overflow-wrap: break-word;
    z-index: 0;
    position: relative;
}

.flex-item.salmon:hover .toolTipSalmon {
    background-color: rgb(0, 0, 0);
    opacity: 65%;
    z-index: 5;
    height: 4.75em;
    width: 9.19em;
    padding-top: 130px;
    border-radius: 5%;
    top: 0;
    display: block;
    position: absolute;
    cursor: pointer;
    pointer-events: none; 
}

.toolTipSalmon {
    display: none;
    color: white;
    text-align: center;
    font-size: 40.2px;
    overflow-wrap: break-word;
    z-index: 0;
    position: relative;
}

.flex-item.elk:hover .toolTipElk {
    background-color: rgb(0, 0, 0);
    opacity: 65%;
    z-index: 5;
    height: 4.77em;
    width: 9.2em;
    padding-top: 130px;
    border-radius: 5%;
    top: 0%;
    display: block;
    position: absolute;
    cursor: pointer;
    pointer-events: none;
}

.toolTipElk {
    display: none;
    color: white;
    text-align: center;
    font-size: 40.2px;
    overflow-wrap: break-word;
    z-index: 0;
    position: relative;
}

.backToTop {
    position: relative;
    margin-top: 3em;
    margin-bottom: 0.5em;
    z-index: 500;
    left: 46.5%;
    right: 46.5%;
    cursor: pointer;
}